<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= task.days %>
  </p>

  <p>
    <strong>Days left:</strong>
    <%= task.days_left %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= task.project_id %>
  </p>
  
  <% if task.assignee.present?%>
    <p>This Task is assigned to <strong><%= task.assignee.full_name %></strong></p>
  <% end %>
</div>
