<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<% @project_manager_projects.each do |project|%>
  <%= render project %>
  <p>
    <%= link_to "Show this project", project %>
  </p>
<% end%>

<% @team_member_projects.each do |project|%>
  <%= render project %>
  <p>
    <%= link_to "Show this project", project %>
  </p>
<% end%>

<% if current_user.admin?%>
  <%= link_to "New project", new_project_path %>
<% end%>
