
<%= render @project %>

<div>
  <% if current_user.admin?%>
    <%= link_to 'Assign team member', new_project_team_assignment_path(project_id: @project.id) %>
    <%= link_to "Edit this project", edit_project_path(@project) %> |
    <%= button_to "Destroy this project", @project, method: :delete %>
  <% end %>
  <%= link_to "Back to projects", projects_path %>
</div>
